/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  text-rendering: optimizeLegibility;
  font-family: arial, serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* thoughtbot (inspired by thoughtbot.com)
*******************************************************************************/
a.thoughtbot {
  display: block;
  background: #c63929;
  background: -moz-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #ee432e), color-stop(0.5, #c63929), color-stop(0.5, #b51700), color-stop(1, #891100));
  border: 1px solid #951100;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
  color: #fff;
  font-family: "Kreon", arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  padding: 12px 0px 14px 0px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
  width: 150px;
}

a.thoughtbot:hover {
  background: #cb0500;
  background: -moz-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #f37873), color-stop(0.5, #db504d), color-stop(0.5, #cb0500), color-stop(1, #a20601));
  cursor: pointer;
}

a.thoughtbot:active {
  background: #b30300;
  background: -moz-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #d43c28), color-stop(0.5, #ad3224), color-stop(0.5, #9c1500), color-stop(1, #700d00));
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
}

a.download {
  display: inline-block;
  margin: 25px 0 0 25px;
}

body {
  border-top: 5px solid #262626;
  background: #ffffff url("../images/bg.png") repeat-x;
}


body > section { width: 700px; margin-left: auto; margin-right: auto; }

header {
  width: 700px; margin-left: auto; margin-right: auto;
  background: #fcfcfc url("../images/bowl.jpg") no-repeat;
  margin-bottom: 1em;
  height: 270px;
  position: relative;
}

header h1 {
font-family: 'Kreon', arial, serif;
font-weight: bold;
color: white;
position: absolute;
top: 90px;
left: 405px;
width: 300px;
font-size: 3.5em;
 }

header h1 a {
  text-decoration: none;
  color: black;
}
header h2 { font-family: 'Kreon', arial, serif; color: #FFFFFF; font-size: .9em;}
header nav {
position: absolute;
top: 140px;
left: 415px;
}
header nav ul li { display: inline-block; margin-right: 15px;}
header nav ul li a{ text-decoration: none; color: #CCCCCC; font-family: 'Kreon', arial, serif; font-size: 1em;}
header nav ul li a:hover{ color: #FFFFFF }

section h1 { font-size: 2em; margin-bottom: 1em}
section p { margin-bottom: 1em; line-height: 16pt;}

#cereals ul {
  list-style: square;
}

#cereals li {
  list-style-type: square;
  display: inline-block;
  vertical-align: top;
  width: 226px;
  margin: 0 10px 10px 0;
}

#cereals li:nth-child(3n) {
  margin: 0 0 10px 0;
}


#cereals a{
  font-size: .75em;
  display: block;
  color: black;
  padding: 6px;
  text-decoration: none;
  border: solid black 1px;
}

#cereals a:hover{
  background: #DEDEDE;
}

.piechart {
  margin: 20px auto;
  display: block;
  width: 280px;
}

.lpiechart {
  margin: 20px auto;
  display: block;
  width: 500px;
}