{% extends "base.html" %}

{% block content %}
<section>

<h1>About Data Flakes</h1>

<p>
  Data Flakes is a visualization of cereal nutritional value across many different brands and types. The goal is to help you, the consumer, make more informed decisions about which cereal to eat. We think that most cereal commercials do a poor job of comunicating health benefits. Most ads involve colorful mascots who spout meaningless sayings (I'm looking at you Tony) or old people worrying about various organs, both of which aren't helpful. We're here to change that.
</p>

<p>
  Data Flakes was created for Data Sciences (CS194) at the University of California Berkeley and is part of a balanced breakfast.
</p>

</section>
{% end %}
