<!DOCTYPE html>
<head>
  <meta char-set="utf-8">
  <title>{% block title %} Data Flakes: Part of a Balanced Breakfast{% end %}</title>
<link href='http://fonts.googleapis.com/css?family=Kreon:regular,bold' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{ static_url("css/style.css") }}">
  <script type="text/javascript" src="{{ static_url("js/protovis-r3.2.js") }}"></script>
</head>
<body>
  <header>
    <div>
      <h1>Data Flakes</h1>
      <h2>part of a balanced breakfast</h2>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/cereals">Cereal Index</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/export">Data</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section>
    {% block content %}
    {% end %}
  </section>
  <footer>
  </footer>
</body>
</html>
