{% extends "base.html" %}

{% block content %}

<section>
  <p>
    Cereal, enjoyed by millions every day for breakfast, is a strange food. Heavily advertised, artificially colored, and manually enriched, most cereals are more sugary candy than nutrious meal. Choosing which cereal to eat is a daunting task when standing in front of the near-endless brands and flavors. We're here to make that decision a little easier with some helpful tips
  </p>
<section>

<section>

<h1>Avoid the middle shelf at the store</h1>

<p>
  We split cereals into three groups based on shelf position in the store. After crunching the numbers, the bottom shelf (on average) contains the healthiest cereals, while the middle shelf contains the sweetest.
</p>

<figure>
  <script type="text/javascript+protovis">
var shelf_data = {{shelfs}};
var color = pv.Colors.category20().range();

/* Sizing and scales. */
var w = 500,
    h = 170,
    n = 2,
    m = 3,
    x = pv.Scale.linear(0, 200).range(0, w),
    y = pv.Scale.ordinal(pv.range(n)).splitBanded(0, h, 4/5);

/* The root panel. */
var vis = new pv.Panel()
    .width(w)
    .height(h)
    .bottom(20)
    .left(75)
    .right(10)
    .top(5);

/* The bars. */
var bar = vis.add(pv.Panel)
    .data(shelf_data.count.data)
    .top(function() y(this.index))
    .height(y.range().band)
  .add(pv.Bar)
    .data(function(d) d)
    .top(function() this.index * y.range().band / m)
    .height(y.range().band / m)
    .left(0)
    .width(x)
    .fillStyle(pv.Colors.category20().by(pv.index));

/* The value label. */
bar.anchor("right").add(pv.Label)
    .textStyle("white")
    .text(function(d) d.toFixed(1));

/* The variable label. */
bar.parent.anchor("left").add(pv.Label)
    .textAlign("right")
    .textMargin(5)
    .text(function() shelf_data.count.yaxis[this.parent.index]);

/* X-axis ticks. */
vis.add(pv.Rule)
    .data(x.ticks(5))
    .left(x)
    .strokeStyle(function(d) d ? "rgba(255,255,255,.3)" : "#000")
  .add(pv.Rule)
    .bottom(0)
    .height(5)
    .strokeStyle("#000")
  .anchor("bottom").add(pv.Label)
.text(x.tickFormat);

      vis.add(pv.Dot)
        .data(["Top Shelf", "Middle Shelf", "Bottom Shelf"])
        .top(0)
        .right(function() 65 + this.index * 75)
        .size(8)
        .strokeStyle(null)
        .fillStyle(function(d) color[this.index])
        .anchor("right").add(pv.Label);

vis.render();
 </script>
</figure>

<p>As we can see from the first graph, cereals on the bottom shelf have a lower calorie count. The count section indicates the number of cereals in each shelf group.</p>

<figure>
 <script type="text/javascript+protovis">
/* Sizing and scales. */
var w = 500,
    h = 420,
    n = 5,
    m = 3,
    x = pv.Scale.linear(0, 25).range(0, w),
    y = pv.Scale.ordinal(pv.range(n)).splitBanded(0, h, 4/5);

/* The root panel. */
var vis = new pv.Panel()
    .width(w)
    .height(h)
    .bottom(40)
    .left(75)
    .right(10)
    .top(5);

/* The bars. */
var bar = vis.add(pv.Panel)
    .data(shelf_data.grams.data)
    .top(function() y(this.index))
    .height(y.range().band)
  .add(pv.Bar)
    .data(function(d) d)
    .top(function() this.index * y.range().band / m)
    .height(y.range().band / m)
    .left(0)
    .width(x)
    .fillStyle(pv.Colors.category20().by(pv.index));

/* The value label. */
bar.anchor("right").add(pv.Label)
    .textStyle("white")
    .text(function(d) d.toFixed(1));

/* The variable label. */
bar.parent.anchor("left").add(pv.Label)
    .textAlign("right")
    .textMargin(5)
    .text(function() shelf_data.grams.yaxis[this.parent.index]);

/* X-axis ticks. */
vis.add(pv.Rule)
    .data(x.ticks(5))
    .left(x)
    .strokeStyle(function(d) d ? "rgba(255,255,255,.3)" : "#000")
  .add(pv.Rule)
    .bottom(0)
    .height(5)
    .strokeStyle("#000")
  .anchor("bottom").add(pv.Label)
    .text(x.tickFormat);

vis.anchor("bottom").add(pv.Label)
  .text("grams")
.top(h + 30);


      vis.add(pv.Dot)
        .data(["Top Shelf", "Middle Shelf", "Bottom Shelf"])
        .top(0)
.right(function() 65 + this.index * 75)
        .size(8)
        .strokeStyle(null)
        .fillStyle(function(d) color[this.index])
        .anchor("right").add(pv.Label);


vis.render();
 </script>
</figure>

<p>
  Cereals on the bottom shelf have fewer grams of sugar and fewer grams of fat than the other two shelfs. The bottom shelf also has more grams of fiber and protein that the middle shelf. The middle shelf contains the highest amount of sugar and the lowerst amount of protein and fiber.
</p>

<figure>
 <script type="text/javascript+protovis">
/* Sizing and scales. */
var w = 500,
    h = 170,
    n = 2,
    m = 3,
    x = pv.Scale.linear(0, 250).range(0, w),
    y = pv.Scale.ordinal(pv.range(n)).splitBanded(0, h, 4/5);

/* The root panel. */
var vis = new pv.Panel()
    .width(w)
    .height(h)
    .bottom(40)
    .left(75)
    .right(10)
    .top(5);

/* The bars. */
var bar = vis.add(pv.Panel)
    .data(shelf_data.mgrams.data)
    .top(function() y(this.index))
    .height(y.range().band)
  .add(pv.Bar)
    .data(function(d) d)
    .top(function() this.index * y.range().band / m)
    .height(y.range().band / m)
    .left(0)
    .width(x)
    .fillStyle(pv.Colors.category20().by(pv.index));

/* The value label. */
bar.anchor("right").add(pv.Label)
    .textStyle("white")
    .text(function(d) d.toFixed(1));

/* The variable label. */
bar.parent.anchor("left").add(pv.Label)
    .textAlign("right")
    .textMargin(5)
    .text(function() shelf_data.mgrams.yaxis[this.parent.index]);

/* X-axis ticks. */
vis.add(pv.Rule)
    .data(x.ticks(5))
    .left(x)
    .strokeStyle(function(d) d ? "rgba(255,255,255,.3)" : "#000")
  .add(pv.Rule)
    .bottom(0)
    .height(5)
    .strokeStyle("#000")
  .anchor("bottom").add(pv.Label)
    .text(x.tickFormat);

vis.anchor("bottom").add(pv.Label)
  .text("milligrams")
.top(h + 30);

      vis.add(pv.Dot)
        .data(["Top Shelf", "Middle Shelf", "Bottom Shelf"])
        .top(0)
        .right(function() 65 + this.index * 75)
        .size(8)
        .strokeStyle(null)
        .fillStyle(function(d) color[this.index])
        .anchor("right").add(pv.Label);


vis.render();
 </script>
</figure>

  <p>
    Again, the middle shelf lacks the sodium and potassium of other cereals.
  </p>


</section>

<section>

  <h1>Cereal names matter</h1>

  <p>
    What's in a name? If you're a cereal, the answer is quite suprising. Below is a scatter plot of words that appear in cereal names. The larger and darker the circle, the more cereals contain that word in their name. The x-axis is sugar amount and the y-axis is calorie count.
  </p>


<figure>
 <script type="text/javascript+protovis">
/* Sizing and scales. */
var w = 500,
    h = 400,
    x = pv.Scale.linear(0, 20).range(0, w),
    y = pv.Scale.linear(0, 300).range(0, h),
    c = pv.Scale.log(2, 12).range("orange", "brown");

/* The root panel. */
var vis = new pv.Panel()
    .width(w)
    .height(h)
    .bottom(40)
    .left(75)
    .right(10)
    .top(5)
    .events("all")
    .event("mousemove", pv.Behavior.point());

/* Y-axis and ticks. */
vis.add(pv.Rule)
    .data(y.ticks())
    .bottom(y)
    .strokeStyle(function(d) d ? "#eee" : "#000")
  .anchor("left").add(pv.Label)
    .text(y.tickFormat);

/* X-axis and ticks. */
vis.add(pv.Rule)
    .data(x.ticks())
    .left(x)
    .strokeStyle(function(d) d ? "#eee" : "#000")
  .anchor("bottom").add(pv.Label)
    .visible(function(d) d > 0 && d < 100)
    .text(x.tickFormat);

/* The dot plot! */
vis.add(pv.Panel)
    .data({{ scatter }})
  .add(pv.Dot)
    .def("active", -1)
    .left(function(d) x(d.x))
    .bottom(function(d) y(d.y))
    .strokeStyle(function(d) c(d.z))
    .fillStyle(function() this.strokeStyle().alpha(.2))
    .size(function(d) d.z * 20)
    .event("point", function() this.active(this.index).parent)
    .event("unpoint", function() this.active(-1).parent)
   .anchor("right").add(pv.Label)
    .visible(function() this.anchorTarget().active() == this.index)
    .font("14px sans-serif")
    .text(function(d) d.h);

vis.anchor("left").add(pv.Label)
  .text("Calories")
  .left(-50)
  .top(h / 2 - 35);

vis.anchor("bottom").add(pv.Label)
  .text("Sugars (g)")
  .top(h + 30);

vis.render();
 </script>
</figure>

  <p>
    The result? Stay away from cereals with "Crispy", "Crisp", "Golden", or "Apple" in the name, as they probably contain high amounts of sugar. Cereals with "Wheat", "Corn", "Rice", and "Grain" generally have less sugar and similar calorie counts.
  </p>

</section>

<section>

  <h1>What's inside the box</h1>

    <p>
      It's important to see what makes up an individual cereal. Sugary cereals are easy to spot (see below) as the blue seciton takes up a majority of the chart.
    </p>

    <script type="text/javascript+protovis">

      var makePieChart = function(data, name) {/* Sizing and scales. */
      var w = 280,
          h = 280,
          r = w / 2,
          a = pv.Scale.linear(0, pv.sum(data)).range(0, 2 * Math.PI);

      /* The root panel. */
      var vis = new pv.Panel()
        .width(w)
        .bottom(40)
        .height(h);

      /* The wedge, with centered label. */
      var v = false;
      vis.add(pv.Wedge)
        .data(data)
        .bottom(w / 2)
        .left(w / 2)
        .innerRadius(r - 40)
        .outerRadius(r)
        .angle(a)
        .event("mouseover", function() v = true)
        .event("mouseout", function() v = false)
      .anchor("center").add(pv.Label)
       .visible(false)
       .textAngle(0)
      .text(function(d) d.toFixed(2));


      vis.add(pv.Dot)
        .data(["Sugars", "Carbs", "Fiber", "Protein"])
        .bottom(-15)
        .left(function() 15 + this.index * 65)
        .size(8)
        .strokeStyle(null)
        .fillStyle(function(d) color[this.index])
        .anchor("right").add(pv.Label);

      vis.add(pv.Dot)
        .data(["Fat", "Sodium", "Potassium"])
        .bottom(-30)
        .left(function() 15 + this.index * 65)
        .size(8)
        .strokeStyle(null)
        .fillStyle(function(d) color[this.index + 4])
        .anchor("right").add(pv.Label);


      vis.anchor("top").add(pv.Label)
      .text(name)
      .top(h / 2 - 9)
      .font("18px sans-serif");
      vis.render();
      };
    </script>

    {% for k, v in piecharts.iteritems() %}
   <figure class="piechart">
     <script type="text/javascript+protovis">
       makePieChart({{v}}, "{{k}}");
     </script>
   </figure>
   {% end %}

  <p>
    Healthier cereals have a more even distribution among the chart, with sugar taking up a much smaller porition.
    </p>

   <figure class="piechart">
     <script type="text/javascript+protovis">
       makePieChart({{corn_chex}}, "Corn Chex");
     </script>
   </figure>

  <p>
    Check out the <a href="/cereals">cereal index</a> to see the chart for all the cereals in the data set.</p>

</section>



{% end %}
